body{
    background:var(--bg);
    color:var(--text);
    font-family:Inter,sans-serif;
    overflow-x:hidden;
}


/* LOGO NAV */

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    font-weight:800;
    font-size:24px;
    letter-spacing:2px;
}

.logo img{
    width:45px;
    height:45px;
    object-fit:contain;
    filter:drop-shadow(0 0 10px rgba(255,77,45,.6));
}


/* HERO */

.hero-logo{
    width:130px;
    margin-bottom:25px;
    filter:drop-shadow(0 0 20px rgba(255,77,45,.7));
}

.hero h1{
    font-family:'Rajdhani', sans-serif;
    font-size:80px;
    font-weight:700;
    letter-spacing:3px;
    margin-bottom:25px;
}


/* TITULOS */

.rule-section h2{
    font-family:'Rajdhani', sans-serif;
    font-size:38px;
    font-weight:700;
    letter-spacing:2px;
    text-transform:uppercase;
}


/* REGLAS */

.accordion{

    width:100%;
    cursor:pointer;
    border:none;
    outline:none;
    background:none;

    color:white;

    padding:24px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    font-family:'Rajdhani', sans-serif;
    font-size:20px;
    font-weight:700;
    letter-spacing:1px;
    text-transform:uppercase;
}
